<header>
    <h1 class="naslov">{{title}}</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Prognoza</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/onama">O nama</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pomoc">Pomoc</a>
        </li>
    </ul>
</header>